.card-item-div {
  transition: all 0.2s;
}

.card-item-div:hover {
  background: rgb(120, 176, 222);
  background: linear-gradient(
    326deg,
    rgba(120, 176, 222, 1) 19%,
    rgba(0, 81, 163, 1) 43%,
    rgba(4, 35, 84, 1) 67%,
    rgba(12, 12, 14, 1) 100%
  );
  color: white;
}
