.hero-section {
  background: rgb(209, 215, 219);
  background: radial-gradient(
    circle,
    rgba(209, 215, 219, 1) 0%,
    rgba(120, 176, 222, 0.7357536764705883) 37%,
    rgba(0, 81, 163, 0.8225884103641457) 59%,
    rgba(4, 35, 84, 0.9122242647058824) 81%,
    rgba(12, 12, 14, 1) 100%
  );
  width: 100%;
  height: calc(100vh + 5.5rem);
}

.animate-fade-in {
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
